@use "setup" as *;
@use "../../scss/mq" as mq with ($breakpoints: (
  "sm": 10rem,
  "md": 20rem
));

@include describe("Media Query Module") {
  @include describe("mq.get()") {
    @include it("should fail for undefined media queries") {
      // this passes
      @include assert-equal(mq.get("sm"), 10rem);

      //this fails
      @include assert-equal(mq.get("undefined"), null);
    }
  }

  @include describe("@mixin mq.mq()") {
    @include it("should output a `from` media query") {
      @include assert {
        @include output {
          @include mq.mq("sm") {
            font-size: 1rem;
          }
        }

        @include expect {
          @media (min-width: 10rem) {
            font-size: 1rem;
          }
        }
      }
    }

    @include it("should output an `until` media query") {
      @include assert {
        @include output {
          @include mq.mq($until: "sm") {
            font-size: 1rem;
          }
        }

        @include expect {
          @media not all and (min-width: 10rem) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
