$textstyle-body: (
  "typeface": "serif",
  "sizes": (0, 3),
  "tracking": 50,
  "features": ("onum"),
  "breakpoints": (
    "md": (
      // change the font size at md
      sizes: (2, 3)
    )
  )
);

$textstyle-heading-1: (
  "typeface": "sans-bold",
  "sizes": (4, 1),
  "case": "all-small-caps",
  "tracking": 50,
  "features": ("onum"),
);
